#conctato{
    
    margin-top: 10px;
    margin-left: 90px;

}
#conctato1{

    margin-top: 80px;
    margin-left: 90px;
}
#titulox{
    margin-top: 20px;
    margin-left: 90px;
}

#g1, #g2,#g3,#g4, #g5, #g6 {
    margin-top: 80px;
    
}
